<!DOCTYPE html>
<html>
<head>
    <title>People Network</title>
</head>
<body>
    <h1>People Network Input</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="friend">Friend:</label><br>
        <input type="text" id="friend" name="friend" required><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color" required><br><br>
        <input type="submit" value="Add">
    </form>
    <br>
    <a href="/visualize">Visualize Network</a>
</body>
</html>